
main {
    width: 100%;
    padding: 5% 3%;
    align-self: flex-start;
    text-align: start;
}

section {
    margin-bottom: 5%;
}

ul {
   list-style-type: none; 
}

.headers {
    border-bottom: 0.5px solid  rgb(78, 109, 143);
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.headers,
.rows>li {
    display: flex;
    justify-content: space-around;
}

.headers li,
.rows p {
    white-space: nowrap;
}

.headers>li,
.rows a,
.rows p {
    margin: 10px;
}

.number {
    width: 30px;
}

.topics {
    width: 150px;
}

.weight {
    width: 80px;
}

.rows .weight {
    width: 50px;
}

.due-date {
    width: 100px;
}

.instructions {
    width: 150px;
}

.solutions {
    width: 85px;
}

section>p {
    font-style: italic;
}

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 15px;
    }

    .rows {
        font-size: 12px;
    }

    .rows .weight {
        width: 30px;
    }

    .rows .instructions {
        width: 90px;
    }
}

@media screen and (max-width: 570px) {
    .headers li {
        margin: 2px;
    }

    main p, main a {
        font-size: 11px;
    }

    h2 {
        font-size: 13px;
    }

    .solutions {
        display: none;
    }
}

@media screen and (max-width: 465px) {
    .topics {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .weight {
        display: none;
    }
}