
ul {
   list-style-type: none; 
}

.headers {
    border-bottom: 0.5px solid  rgb(78, 109, 143);
}

h2 {
    font-size: 20px;
    margin-bottom: 0;
}

.headers,
.rows>li {
    display: flex;
    justify-content: space-around;
}

.headers>li:nth-of-type(3),
.rows a:nth-of-type(1) {
    margin-left: 30%;
}

.headers li,
.rows p {
    white-space: nowrap;
}

.headers>li,
.rows a,
.rows p {
    margin: 10px;
}

/* MOBILE DESIGN */
@media screen and (max-width: 768px) {
    .headers>li:nth-of-type(3),
    .rows a:nth-of-type(1) {
        margin-left: 10px;
    }

    h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .headers li {
        margin: 2px;
    }

    main p, main a {
        font-size: 11px;
    }

    h2 {
        font-size: 13px;
    }
}