
section.gray-text {
    background-color: rgb(184, 184, 184);
    color: rgb(58, 58, 58);
}

main > p {
    margin-top: 5px;
    padding-left: 5px;
    color: rgb(58, 58, 58);
    font-weight: bold;
}