{% extends "template.html" %}
{% block content %}
        <section>
            <h1>Anonymous Feedback</h1>
            <p>
                Here is a chance for you to submit some feedback to our course staff! Please answer honestly as we will
                take this as an opportunity to improve the course based on the feedback received. Your name will not be shown
                to anyone so answer as honestly as you can. We appreciate you taking the time to provide feedback for us!
            </p>
        </section>

        <br>

        <section>
        {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}

                {% for cat, message in messages %}
                    <p class='flash {{cat}}'>{{message}}</p>
                {% endfor %}

            {% endif %}
        {%endwith%}

            <form acions="/add/feedback" method="POST" name="feedbackForm">
                <h4> Select an instructor: </h4>

                    <select name="feedbackInstructor" id="feedbackInstructor" required>
                        {% for instructor in instructors %}
                            <option value="{{instructor.id}}">{{instructor.name}}</option>
                        {% endfor %}
                    </select>



                {% for id, question in questions | dictsort %}

                    <div class="row">
                        <h4>{{question}}</h4>
                        <textarea class="feedback-form" name='feedbackQuestion{{id}}' required></textarea>
                        <br>
                    </div>


                {% endfor %}
                <button type='submit'>Submit Feedback</button>

            </form>
        </section>

{% endblock %}