{% extends "template.html" %}
{% block content %}

        <h1>Announcements</h1>

        <!-- Announcement 1 -->
        <h2>A1 Meme Fiesta Update</h2>
        <p>
            Hi everyone,
        </p>
        <p>
            An update on the marking scheme. After reviewing some feedback on the bonus marks, we have decided to give
            everyone who made a meme 1 bonus mark. If you were offended by the 'bad meme'/'meme master' section on the
            rubric, then I am sorry you feel that way. It was certainly not my intention to make fun of anyone or make
            anyone feel bad. Given the context of 'creating a meme', I had to do my fair share and meme on the rubric as
            well. Regrettably, some of you took this literally and I apologize for not thinking about this. Since we are
            on this topic, I will also clarify that the 'piazza bonus' was given to those who found typos on the
            assignment. Please do not be hurt over this. They 'took the bullet' to correct the errors and saved you
            time. Again, I'm sorry for the lack of proofreading on my part, which is also why I added a 'completion
            bonus' to people that attempted most questions. To avoid this issue in the future, there will be no more
            bonus marks for the rest of the course.
        </p>
        <p>
            Since I will need to go through all the submissions again, the remark request date will be extended to next
            Monday. Also, I was not able to add that many comments due to time constraints so if you want to
            inquire/clarify about something, I welcome those for remarks as well. But, please! Do take a look at the
            solutions and commentary first. The marks will be updated by Monday night.

            I hope everyone is satisfied with this result, let us all please move on to the actual content of the
            course.

        </p>

        <!-- Announcement 2 -->
        <h2>Assignment 2</h2>
        <p>Hello all,</p>
        <p>
            Assignment 2 has been uploaded on Quercus.
        </p>
        <p>
            It is based on HTML, CSS and basic Python Flask.
        </p>
        <p>
            The due date for this assignment is March 15.
        </p>
        <p>Purva</p>
{% endblock %}