{% extends "template.html" %}
{% block content %}
        <section>
            <h1>Overview</h1>

            <p>
                Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and
                assignment handouts here. All exercises and assignments will be submitted on MarkUs.
            </p>
        </section>

        <br>

        <section>
            <h1>Assignments</h1>

            <ul class="headers">
                <li class="number">
                    <h2>#</h2>
                </li>
                <li class="topics">
                    <h2>Topics</h2>
                </li>
                <li class="weight">
                    <h2>Weight</h2>
                </li>
                <li class="due-date">
                    <h2>Due Date</h2>
                </li>
                <li class="instructions">
                    <h2>Instructions</h2>
                </li>
                <li class="solutions">
                    <h2>Solutions</h2>
                </li>
            </ul>

            <ul class="rows">
                <li>
                    <p class="week">1</p>
                    <p class="topics">Relational Algebra</p>
                    <p class="weight">15%</p>
                    <p class="due-date">Thurs Feb 1</p>
                    <a class="instructions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Worksheet</a>
                    <a class="solutions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Solution</a>
                </li>
                <li>
                    <p class="week">2</p>
                    <p class="topics">HTML, CSS</p>
                    <p class="weight">15%</p>
                    <p class="due-date">Mon Mar 1</p>
                    <a class="instructions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Worksheet</a>
                    <a class="solutions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Solution</a>
                </li>
                <li>
                    <p class="week">3</p>
                    <p class="topics">Full Web Application</p>
                    <p class="weight">15%</p>
                    <p class="due-date">Fri Apr 8</p>
                    <a class="instructions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Worksheet</a>
                    <a class="solutions" href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Solution</a>
                </li>
            </ul>

        </section>

        <br>

        <section>
            <h2>FAQ - Assignment 1</h2>

            <p>
                Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I
                return?
            </p>
            <p>
                A. Return the first name, last name.
            </p>
        </section>

{% endblock %}