{% extends "template.html" %}
{% block content %}
        <h1>Labs</h1>

        <ul class="headers">
            <li>
                <h2>Week</h2>
            </li>
            <li>
                <h2>Topics</h2>
            </li>
            <li>
                <h2>Instructions</h2>
            </li>
            <li>
                <h2>Solutions</h2>
            </li>
        </ul>

        <ul class="rows">
            <li>
                <p>1</p>
                <p>No Lab</p>
                <a href="" class="empty"></a>
                <a href="" class="empty"></a>
            </li>
            {% for i in range(2,13) %}
                <li>
                    <p>{{ i }}</p>
                    <p>Lab {{ i }}</p>
                    <a href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Handout</a>
                    <a href="{{ url_for('static', filename='files/dummy.pdf') }}" target="_blank">Solution</a>
                </li>
            {% endfor %}
        </ul>

{%endblock%}