{% extends "template.html" %}
{% block content %}

{% if not session.username %}



<h1>
    CSCB20 - Introduction to Databases and Web Applications
</h1>

<h3>Login</h3>

<form action="/login" method="post">

    <label for="loginUsername">Username</label>
    <br>
    <input type="text" id="loginUsername" name="loginUsername" required />

    <br>

    <label for="loginPassword">Password</label>
    <br>
    <input type="password" id="loginPassword" name="loginPassword" required />

    <!-- Error message -->
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}

            {% for cat, message in messages %}
                <p class="flash {{cat}}">{{message}}</p>
            {% endfor %}
        {% else %}
            <p class="empty"></p>
        {% endif %}
    {%endwith%}

    <br>

    <button type="submit" name="loginBtn" id="loginBtn">Login</button>
</form>

{%endif%}

{% endblock %}