{% extends "template.html" %}
{% block content %}

    <section>
        <h2>Your feedback</h2>
        <p>Here you can view all feedback sent to you</p>

        <div class="feedback-container">

            {%if feedbacks | length < 1%}

                <p>Sorry, no feedback yet.</p>

            {% endif %}

            {% for feedback in feedbacks %}

                <div class="feedback">
                    {{feedback.response|safe}}
                </div>

                <hr>

            {% endfor %}

        </div>


    </section>

{% endblock %}