{% extends "template.html" %}
{% block content %}

    {% if not student or student.type == 'instructor' %}
        <p> invalid student </p>
    {% else %}

    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}

            {% for cat, message in messages %}
                <p class='flash {{cat}}'>{{message}}</p>
            {% endfor %}

        {% endif %}
    {%endwith%}

        <!-- Form to add grades -->
        <h2>Add Grade</h2>

        <form action="/view/student/{{student.username}}" method="post">

            <label for="gradeAssName">Assessment Name</label>
            <br>
            <input type="text" required placeholder="Test 1" name="gradeAssName"/>

            <br>

            <label for="gradeWeight">Weight (%)</label>
            <br>
            <input type="number" required placeholder="15" name="gradeWeight"/>

            <br>

            <label for="gradeScore">Student Score (%)</label>
            <br>
            <input type="number" required placeholder="85" name="gradeScore"/>

            <br>

            <button type="submit">Add Grade</button>


        </form>

        <hr id="main-line">

        <!-- Existing grades -->
        <h2>{{student.name}}'s Grades</h2>


        {% if grades %}

            {% for grade in grades %}

                <section class="card">
                    <div class="titles">
                        <p>Name: </p>
                        <p>Score:</p>
                        <p>Weight:</p>
                    </div>
                    <div>
                        <p>{{grade.ass_name}} </p>
                        <p>{{grade.score}}%</p>
                        <p>{{grade.weight}}%</p>
                    </div>
                </section>
                    

                <form class="forBtn" action="/edit/student/{{student.username}}/grade/{{grade.id}}" method="get">
                    <button type="submit">Edit</button>
                </form>

                <hr>

            {% endfor %}

        {% else %}

            <p>This student does not have any grades yet.</p>

        {% endif %}


    {% endif %}


{% endblock %}